body {
  font-family: Product sans;
  color: #ffffff;
  background-color: #0a192f;
}

ul {
  margin-top: 5px;
}
.enter-username {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.username-input {
  width: 500px;
  height: 70px;
  text-align: center;
}

.user-chat-name {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}

.hidden {
  display: none;
}

.main-inner-section {
  position: relative;
  height: 500px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}

.chatroom {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(204, 214, 246);
}

.chatroom.active {
  z-index: 2;
  overflow-y: auto;
  color: #000000;
}

.disconnected-message {
  color: red;
}

.rooms > div {
  background: rgb(135, 135, 135);
  border-radius: 40px;
  font-size: 15px;
  color: white !important;
  display: inline-block;
  margin-top: 4px;
  margin-left: 8px;
  cursor: pointer;
  padding: 5px;
  position: relative;
}

.chat-text {
  width: 850px;
  height: 100px;
  margin-top: 5px;
}

.rooms > div.active {
  color: white !important;
  background: #9C27B0;
}

.user-list li {
  list-style: none;
  padding: 7px;
  background-color: #4caf50;
  width: fit-content;
  height: 32px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
}

.rooms > div.new {
  color: blue;
}

.rooms > div > span {
  position: absolute;
  z-index: 10;
  border-radius: 10pc;
  text-align: center;
  height: 13px;
  width: 12px;
  top: -4px;
  right: -2px;
  color: red !important;
  background: white;
  cursor: pointer;
  font-size: 12px;
}

.rooms > div > span:hover {
  color: black !important;
}
